.nav-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
 
  font-family: "Kdam Thmor Pro", sans-serif;
}
.nav-container.bg-color{
  background-color: rgb(99 43 2);
  
}
.nav-list.nav-list.active a{
  color: black;
}


.nav-list {
  display: flex;
}
.nav-list li {
  list-style: none;
}
.nav-list a {
  margin: 2rem;
  color: white;
}


.logo {
  font-size: 40px;
  color: brown;
}
.humb {
  margin-right: 1rem;
  text-align: center;
  color: white;
}
@media screen and (max-width: 600px) {
  .nav-list li {
    display: none;
  }
  .logo {
    font-size: 20px;
  }
  .humb {
    width: 21px;
    color: white;
  }
  .nav-container {
    padding-bottom: -10rem;
    padding: 1rem 0px;
  }
}
@media screen and (max-width: 320px) {
  .nav-list.active {
    height: 100vh;
    text-align: center;
    align-items: center;
  }
  .nav-list.active a {
    margin: -5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  
  .nav-list.active li {
    justify-content: center;
  }
}

@media screen and (max-width: 2200px) {
  .nav-list.active {
    margin-top: -1rem;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: 90px;
    width: 100%;
    height: 100vh;
    transition: 0.1s ease-in-out;
    z-index: 2;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    
  }

  .nav-list.nav-list.active a {
    color: white;
  }
  .nav-list.nav-list.active a{
    background-color: rgb(99, 43, 2, 0.2);
    padding:1rem 2rem;
    transition: 0.5s;
    border-radius: 1rem;
  }
  .nav-list.nav-list.active a:hover{
    background-color: rgb(99, 43, 2, 0.5);
    
  }
  .nav-list.nav-list.active li {
    color: white;
    margin: 4rem;
    display: flex;
  }

}
@media screen and (max-width:500px) {
  .nav-list.nav-list.active a{
    background-color: transparent;
    
  }
  .nav-list.nav-list.active a:hover{
    background-color: transparent;
  }
}
@media screen and (max-width:380px) {
  .nav-list.active a{
    padding: 0%;
    margin: -1rem
    
  }
  .nav-list.active{
    margin-top: -1rem;

  }
  .nav-list.active li{
    margin-top: -2rem;
  }
}
